header {
    background-color: paleturquoise;
}

body {
    background-color:steelblue;
}

.sideNavEl {
    background-color:whitesmoke;
}

#forecastDay {
    display: flex;
    flex-direction: row;
}